
<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    (click)="sideNav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <h2>Shopping List</h2>
</mat-toolbar>

<mat-sidenav-container class="sideBarNavigation">

  <mat-sidenav class="sideNavCont"  #sideNav mode="side" [(opened)]="opened">
    <div class="sideNav">
    <button mat-button routerLink="/groceries">Lists</button>
    <button mat-button routerLink="/all">All Items</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>