.title {
    display:flex;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 3px;
    padding: 8px 2em 0 2em;
    margin: 0 30% 0 30%;
    box-shadow: 2px 2px 5px;
}

.wooden-board {
    margin:1em 3em 1em 3em;
    border: solid 1px;
    box-shadow: 5px 5px 5px;
    background-color: #2d0200;
background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.board-content {
    display: flex;
    flex-direction: column;
    margin: 4em 4em 4em 4em ;
    box-shadow: -5px -5px 5px; 
    padding: 2em 2em 2em 2em;
    background-image: url("https://previews.123rf.com/images/nomadsoul1/nomadsoul11303/nomadsoul1130302558/18433100-close-up-of-cork-board-background-or-texture.jpg")
}

.left-board {
    margin: 2em 4em 2em 4em;
    padding: 2em 3em 3em 3em;
    background-color: aliceblue;
    border-radius:3px;
    box-shadow: 3px 3px 5px;
    width:30%;
}

.calendar {
    margin: 2em 4em 2em 4em;
    padding: 2em 3em 3em 3em;
    background-color: aliceblue;
    border-radius:3px;
    box-shadow: 3px 3px 5px;
    width:70%;
}

.tasks {
    display: flex;
    flex-direction: row;
}