<div class="tile-container">
  <mat-grid-list cols="10" rowHeight="8em">
    <mat-grid-tile colspan="3" rowspan="3">
      <div class="post-it">
        <h4>One-Time Request</h4>
        <div class="tile">
          <div *ngFor="let item of items$ | async">
            <div
              class="card-contents"
              *ngIf="item.frequency == 'One-Time Request'"
            >
              <div class="card-contents-item">
                <b>{{ item.item }}</b>
              </div>
              <div class="card-contents-inStock">
                {{ item.inStock === 0 ? "Out of Stock" : item.inStock }}
              </div>
              <div class="item-buttons">
                <button color="primary" mat-icon-button>
                  <mat-icon fontIcon="mode" />
                </button>
                <button color="warn" mat-icon-button>
                  <mat-icon fontIcon="delete" />
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="addOneTime">
            <form class="one-time-form" (ngSubmit)="submitOne()">
              <input type="text" class="oneItem" required/>
              <input type="number" class="oneStock">
              <button type="submit" mat-mini-fab color="primary"><mat-icon >check</mat-icon></button>
            </form>
          </div>
          <div class="button-container">
            <button mat-fab color="primary" (click)="toggleOne()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3">
      <div class="post-it-two">
        <h4>Monthly</h4>
        <div class="tile">
          <div *ngFor="let item of items$ | async">
            <mat-card class="card-contents" *ngIf="item.frequency == 'Monthly'">
              <div class="card-contents-item">
                <b>{{ item.item }}</b>
              </div>

              <div class="card-contents-inStock">
                {{ item.inStock === 0 ? "Out of Stock" : item.inStock }}
              </div>

              <div class="item-buttons">
                <button color="primary" mat-icon-button>
                  <mat-icon fontIcon="mode" />
                </button>
                <button color="warn" mat-icon-button>
                  <mat-icon fontIcon="delete" />
                </button>
              </div>
            </mat-card>
          </div>
          <div *ngIf="addMonthly">
            <form class="monthly-form">
              <input type="text" class="monthlyItem" placeholder="Item" matInput required/>
              <input type="number" class="monthlyStock" placeholder="In Stock" matInput>
              <button type="submit" mat-mini-fab color="primary" (click)="submitMonth()"><mat-icon >check</mat-icon></button>
            </form>
          </div>
          <div class="button-container">
            <button mat-fab color="primary" (click)="toggleMonth()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="6">
      <div class="notebook-one">
        <h4>Indefinite</h4>
        <div class="tile">
          <div *ngFor="let item of items$ | async">
            <div class="card-contents" *ngIf="item.frequency == 'Indefinite'">
              <div class="card-contents-item">
                <b>{{ item.item }}</b>
              </div>

              <div class="card-contents-inStock">
                {{ item.inStock === 0 ? "Out of Stock" : item.inStock }}
              </div>

              <div class="item-buttons">
                <button color="primary" mat-icon-button>
                  <mat-icon fontIcon="mode" />
                </button>
                <button color="warn" mat-icon-button>
                  <mat-icon fontIcon="delete" />
                </button>
              </div>
            </div>
          </div>

          <div class="button-container">
            <button mat-fab color="primary">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="3">
      <div class="notebook-two">
        <div class="red-line"></div>
        <h4>Weekly</h4>
        <div class="tile">
          <div *ngFor="let item of items$ | async">
            <div class="card-contents" *ngIf="item.frequency == 'Weekly'">
              <div class="card-contents-item">
                <b>{{ item.item }}</b>
              </div>

              <div class="card-contents-inStock">
                {{ item.inStock === 0 ? "Out of Stock" : item.inStock }}
              </div>

              <div class="item-buttons">
                <button color="primary" mat-icon-button>
                  <mat-icon fontIcon="mode" />
                </button>
                <button color="warn" mat-icon-button>
                  <mat-icon fontIcon="delete" />
                </button>
              </div>
            </div>
          </div>

          <div class="button-container">
            <button mat-fab color="primary">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
