<div>
  <div class="alert alert-danger" *ngIf="displayEditError">Input Required</div>
  <h2>All Items</h2>
  <div class="all-chips">
    <mat-chip-listbox aria-label="search">
      <mat-chip-option unselected>Out of Stock</mat-chip-option>
      <mat-chip-option unselected>Aldi</mat-chip-option>
      <mat-chip-option unselected>Jewel Osco</mat-chip-option>
      <mat-chip-option unselected>Pete's Fresh Market</mat-chip-option>
      <mat-chip-option unselected>Online</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div class="notebook">
    <div class="allCards">
      <div class="card-contents" *ngFor="let item of items$ | async">


        <div *ngIf="item.editing" class="edit-form">
          <button mat-mini-fab color="warn" (click)="item.editing = false">
            <mat-icon fontIcon="clear" />
          </button>
          <form [formGroup]="editForm" (ngSubmit)="submitEdit(this.item._id)">
            <button mat-mini-fab color="primary" type="submit">
              <mat-icon fontIcon="done"></mat-icon>
            </button>
            <input
              class="edit-input"
              type="text"
              id="item"
              name="item"
              [(ngModel)]="item.item"
              formControlName="item"
              required
            />

            <input
              class="edit-stock"
              id="inStock"
              name="inStock"
              type="number"
              [(ngModel)]="item.inStock"
              formControlName="inStock"
            />
            <select
              class="edit-frequency"
              id="frequency"
              name="frequency"
              [(ngModel)]="item.frequency"
              formControlName="frequency"
              required
            >
              <option value="One-Time Request">One-Time Request</option>
              <option value="Monthly">Monthly</option>
              <option value="Weekly">Weekly</option>
              <option value="Indefinite">Idefinite</option>
            </select>
            <select
              class="edit-store"
              id="store"
              name="store"
              [(ngModel)]="item.store"
              formControlName="store"
            >
              <option value="Aldi">Aldi</option>
              <option value="Jewel Osco">Jewel Osco</option>
              <option value="Pete's Fresh Market">Pete's Fresh Market</option>
              <option value="Online">Online</option>
            </select>
          </form>
        </div>


        <div *ngIf="!item.editing" class="card-contents-item">
          <b>{{ item.item }}</b>
        </div>

        <div *ngIf="!item.editing" class="card-contents-inStock">
          {{ item.inStock === 0 ? "Out of Stock" : item.inStock }}
        </div>

        <div *ngIf="!item.editing" class="button-container">
          <button color="primary" (click)="item.editing = true" mat-mini-fab>
            <mat-icon>mode</mat-icon>
          </button>
          <button color="warn" mat-mini-fab (click)="deleteItem(item._id)">
            <mat-icon fontIcon="delete" />
          </button>
        </div>
      </div>

      <div class="add-button">
        <button
          mat-fab
          [color]="isAdding ? 'warn' : 'primary'"
          (click)="toggle()"
        >
          <mat-icon>{{ isAdding ? "clear" : "add" }}</mat-icon>
        </button>
      </div>

      <div *ngIf="isAdding">
        <form
          class="item-form"
          [formGroup]="itemForm"
          (ngSubmit)="submitForm()"
        >
          <div class="alert alert-danger" *ngIf="displayError">
            Input Required
          </div>
          <mat-form-field>
            <mat-label for="item"><strong>Item Name</strong></mat-label>
            <input
              matInput
              type="text"
              id="item"
              name="item"
              formControlName="item"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-select id="frequency" formControlName="frequency" required>
              <mat-option value="One-Time Request">One-Time Request</mat-option>
              <mat-option value="Weekly">Weekly</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="Indefinite">Indefinite</mat-option>
            </mat-select>
            <mat-label> <strong> Frequency</strong> </mat-label>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="inStock">In Stock</mat-label>
            <input
              matInput
              type="number"
              id="inStock"
              name="inStock"
              formControlName="inStock"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-select id="store" name="store" formControlName="store">
              <mat-option value="Aldi">Aldi</mat-option>
              <mat-option value="Jewel Osco">Jewel Osco</mat-option>
              <mat-option value="Pete's Fresh Market"
                >Pete's Fresh Market</mat-option
              >
              <mat-option value="Online">Online</mat-option>
            </mat-select>
            <mat-label>Store </mat-label>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
