h2 {
  color: rgb(62, 62, 62);
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: .5em;
}

.all-chips {
  display: flex;
  justify-content: center;
}

.notebook {
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
  font-size: larger;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 70%;
  height: 100%;
  background-image: linear-gradient(#ccc 1px, transparent 1px);
  background-size: 20px 30px;
}

.allCards {
  padding: 4em 0 5em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.edit-form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 7px 10px 15px 10px;
}

.edit-input{
  padding: 0 2px 0 0;
}

.edit-frequency,
.edit-store,
.edit-input {
  border:none;
  background-color: transparent;
  width:25%;
}

.edit-stock {
  border:none;
  background-color:transparent;
  width:11%;
}

.edit-frequency:hover,
.edit-store:hover,
.edit-stock:hover,
.edit-input:hover{
  border:none;
  box-shadow: 0 5px 15px rgba(78, 78, 78, 0.4);
}

button {
  margin: 0 6px 0 0;
}

.mt-3 {
  padding: 0 0 0 30px;
}

.add-button {
  display: flex;
  justify-content: flex-end;
}

.item-form {
  display: flex;
  flex-direction: column;
  padding: 2em 0 0 0;
}
