.allCards{
    padding-top:3em;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: column;
    align-content: center;

}

.card-contents{
    margin-bottom: 1em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:60%;
    padding: 7px 20px 7px 20px;
}

.mt-3 {
    padding: 0 0 0 30px;
}

.add-button {
    display:flex;
    justify-content: flex-end;
}

.item-form {
    display: flex;
    flex-direction: column;
}