<div class="mt-3">
  <button color="primary" mat-raised-button routerLink="/groceries">
    Back
  </button>
</div>

<div class="allCards">
  All Items:
  <mat-card class="card-contents" *ngFor="let item of items$ | async">
    <div class="card-contents-item">
      {{ item.item }}
    </div>

    <div class="card-contents-inStock">
      {{ item.inStock === 0 ? "Out of Stock" : item.inStock }}
    </div>

    <div class="button-container">
      <button color="primary" mat-mini-fab>
        <mat-icon fontIcon="mode" />
      </button>
      <button color="warn" mat-mini-fab>
        <mat-icon fontIcon="delete" />
      </button>
    </div>
  </mat-card>

  <div class="add-button">
    <button  mat-fab [color]="isAdding? 'warn':'primary'" (click)="toggle()">
     <mat-icon>{{isAdding?'clear':'add'}}</mat-icon>
    </button>
  </div>

  <div *ngIf="isAdding">
    <form class="item-form" [formGroup]="itemForm" (ngSubmit)="submitForm()">
      <mat-form-field>
        <mat-label for="item"><strong>Item Name</strong></mat-label>
        <input matInput type="text" id="item" name="item" formControlName="item" required />
      </mat-form-field>
    
      <div
        *ngIf="item.invalid && (item.dirty || item.touched)"
        class="alert alert-danger">
        <div *ngIf="item.errors?.['required']">Item Name is required.</div>
        <div *ngIf="item.errors?.['minlength']">
          Item Name must be at least 3 characters long.
        </div>
      </div>
    
      <mat-form-field>
        <mat-select id="frequency" formControlName="frequency" required>
          <mat-option value="One-Time Request">One-Time Request</mat-option>
          <mat-option value="Weekly">Weekly</mat-option>
          <mat-option value="Monthly">Monthly</mat-option>
          <mat-option value="Indefinite">Indefinite</mat-option>
        </mat-select>
        <mat-label> <strong> Frequency</strong> </mat-label>
      </mat-form-field>
    
      <div
      *ngIf="frequency.invalid && (frequency.dirty || frequency.touched)"
      class="alert alert-danger">
      <div *ngIf="item.errors?.['required']">Frequency is required.</div>
    </div>
    
    <mat-form-field>
        <mat-label for="inStock">In Stock</mat-label>
        <input matInput type="number" id="inStock" name="inStock" formControlName="inStock"/>
    </mat-form-field>
    
      <mat-form-field>
        <mat-select id="store" name="store" formControlName="store">
          <mat-option value="Aldi">Aldi</mat-option>
          <mat-option value="Jewel Osco">Jewel Osco</mat-option>
          <mat-option value="Pete's Fresh Market">Pete's Fresh Market</mat-option>
          <mat-option value="Online">Online</mat-option>
        </mat-select>
        <mat-label>Store </mat-label>
      </mat-form-field>
    
      <div
      *ngIf="store.invalid && (store.dirty || store.touched)"
      class="alert alert-danger">
      <div *ngIf="item.errors?.['required']">Store is required.</div>
    </div>
    
      <button mat-raised-button color="primary" type="submit">Submit</button>
    
    </form>
  </div>

</div>
